* {
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  
}
.title 
{
  text-align: center;
  font-size: 78px;
  padding-top: 15%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  display: block;
  width: 400px;
  margin: 50px auto;

}

#dynamic-list
{
  margin-left:  auto;
  display: block;
  margin: 40px auto;
  width: 450px;
  list-style-type: none;
  
}
li {
  margin: 5%;
  font-size: 110%;
}
a{
  text-decoration: none;
  font-size: 150%;
  
}
a:hover {
  color: orange;
  transition: 0.8s;
}


html{
  background: rgb(49, 49, 49);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(38,88,120,0.0032387955182072714) 0%, rgba(0,212,255,1) 0%, rgba(70,70,70,1) 0%, rgba(106,106,106,1) 100%);
  }



